.App {
  text-align: center;
  font-family: monospace;
}

button {
  border-radius: 50%;
  border: none;
  color: white;
  width: 40pt;
  height: 40pt;
  margin: 6pt;
  text-align: center;
  text-decoration: none;
  font-size: 24pt;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: black;
  color: white;
}

.row {
  display: block;
}

.win {
  background-color: #4CAF50;
}

.loss {
  background-color: #f44336;
}

.push {
  background-color: #008CBA;
}

.reset {
  background-color: #555555;
  width: 80pt;
  border-radius: 20%;
}